.container {
    margin: 2%;
}

.container h1 {
    text-align: center;
    margin-top: 1%;
}


.item {
    margin: 1%;
}

.grid-item-infos {
    display: grid;
    grid-template-columns: repeat(3,1fr);
}


.item-img img {
    width: 60%;
}

.item-game {
    text-align: center;
    display: block;
    margin: auto;
}

.item-price {
    margin: auto; 
    display: grid;
    grid-template-columns: 55% 35% 10%;
}

.item-price a {
    margin-top: auto;
    margin-block-end: auto;
}

.ps img {
    width: 15%;
    margin: auto; 
    margin-right: 0;
} 

.xbox img {
    width: 25%;
    margin: auto; 
    margin-right: 0;
} 

.ps h3 {
    margin-left: 15%;
}


.xbox h3 {
    margin-left: 30%;
}


.price {
    text-align: end;
    margin-right: 5%;
}

.button {
    border-color: white;
    color: white;
    background-color: #8D197E;
    border-radius: 6px;
    font-size: 20px;
    padding: 5px;
    width: 20%;
    outline: none;
    display: block;
    margin: auto;
}