.container {
    margin: 2%;
    text-align: center;
}

.container h1 {
    margin-block-end: 8%;
    margin-top: 1%;
}


input {
    width: 30%;
    border-color: black;
    border-radius: 6px;
    font-size: 16px;
    padding: 10px;
    margin-block-end: 2%;
}

textarea {
    width: 30%;
    border-color: black;
    border-radius: 6px;
    font-size: 16px;
    padding: 10px;
    resize: none;
}

textarea:focus {
    border-color: #8D197E;
    border-style: solid;
}

textarea:hover {
    border-color: #8D197E;
    border-style: solid;
}

.button-send {
    border-color: white;
    color: white;
    background-color: #8D197E;
    border-radius: 6px;
    font-size: 20px;
    padding: 5px;
    width: 12%;
    display: block;
    margin: auto;
    margin-top: 6%;
}



@media(max-width:1200px) {}

@media(max-width:1080px) {}

@media(max-width:992px) {

}

@media(max-width:768px) {

    #contact input, textarea {
        width: 60%;
    }

    .button-send {
        width: 30%;
    }

    .container {
        margin-top: auto;
        margin-block-end: auto;
    }

    .container h1 {
        margin-top: 10%;
    }
}

@media(max-width:576px) {
    .container h1 {
        font-size: 30px;
    }
}

@media(max-width:320px) {
    .container h1 {
        font-size: 25px;
    }
}