.content h2 {
    text-align: center;
    margin-block-end: 5%;
}

.infos {
    display: inline-flex;
    width: 80%;
    justify-content: space-between;
    margin-left: 10%;
    margin-right: 10%;
    text-align: center;
    margin-block-end: 2%;
}

.infos-days {
    display: inline-flex;
    width: 50%;
    justify-content: space-between;
    margin-left: 25%;
    margin-right: 25%;
    text-align: center;
}


.case {
    color: black;
    background-color: white;
    width: 180px;
    height: 120px;
    margin-block-end: 5%;
    border-left: 8px solid #8D197E;
    border-radius: 0 5px 5px 0;
    box-shadow: 5px 5px 5px #1F2326;
}

.case h1 {
    margin-top: 8%;
}
  
.case h4 {
    margin: 0;
    margin-top: 18%;
}


@media (min-width: 801px) and (max-width: 1000px) {
    .tab a {
        margin-left: 10%;
    }
}


@media (min-width: 1001px) and (max-width: 1200px) {
    .tab a {
        margin-left: 9%;
    }
}

