.content {
    width: 84%;
    margin-left: 16%;
}

.content h1 {
    margin: 2%;
    margin-block-end: 4%;
}

.content h2 {
    text-align: center;
    margin-block-end: 3%;
}

.infos {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    justify-items: center;
    align-items: center;
    text-align: center;
    margin-block-end: 8%;
}

.infos-days {
    display: grid;
    grid-template-columns: 50% 50%;
    justify-items: center;
    align-items: center;
    text-align: center;
}


.case {
    color: black;
    background-color: white;
    width: 180px;
    height: 120px;
    margin-block-end: 5%;
    box-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 3px 0 rgba(0,0,0,.12);
    border-left: 5px solid #8D197E;
    border-radius: 5px;
}

.case h1 {
    margin-top: 8%;
}
  
.case h4 {
    margin: 0;
    margin-top: 18%;
}