#top {
    background-image: url('../img/fond-home.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right;
    z-index: 99999;
    width: 100%;
    height: 93vh;
    display: flex;
}


#titles-top {
    text-align: start;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 5%;
}

#titles-top h1 {
    margin-bottom: 3%;
    font-size: 50px;
}


#titles-top p {
    margin-bottom: 3%;
    font-size: 18px;
}


#contact {
    font-size: 18px;
    text-decoration: none;
    color: white;
    position: absolute;
    top: 92vh;
    right: 5%;
}

.container {
    margin-left: 2%;
    margin-right: 2%;
}

.container h2 {
    margin-top: 3%;
    margin-bottom: 3%;
    margin-left: 2%;
}

.catalogue {
    display: grid;
    grid-template-columns: repeat(4,25%);
}

.game {
    width: 85%;
    height: auto;
    margin-left:auto;
    margin-right: auto;
    margin-block-end: 10%;
}


.game img {
    width: 100%;
    height: calc(100% - 34px);
    border-radius: 6px 6px 0px 0px;
}


img {
    vertical-align: middle;
    border-style: none;
}


.game-name {
    background-color: white;
    padding: 5px;
    border-radius: 0px 0px 6px 6px;
}

.game-name p {
    color: #8D197E;
    text-align: center;
    margin: 0;
}

.game a {
    text-decoration: none;
}



@media(max-width:1200px) {}

@media(max-width:1080px) {}

@media(max-width:992px) {}

@media(max-width:768px) {
    #top {
        height: 35vh;
    }

    #titles-top h1 {
        font-size: 20px;
    }
    
    #titles-top p {
        font-size: 12px;
    }
    
    #contact {
        top: 36vh;
        right: 5%;
        font-size: 12px;
    }

    .container h2 {
        font-size: 20px;
    }

    .catalogue {
        display: grid;
        grid-template-columns: repeat(2,50%);
    }

    .game-name p {
        font-size: 12px;
    }
}

@media(max-width:576px) {
    #top {
        height: 25vh;
    }

    #titles-top h1 {
        font-size: 20px;
    }
    
    #titles-top p {
        font-size: 12px;
    }
    
    #contact {
        font-size: 18px;
        text-decoration: none;
        color: white;
        position: absolute;
        top: 26vh;
        right: 5%;
        font-size: 12px;
    }

    .container h2 {
        font-size: 20px;
    }

    .catalogue {
        display: grid;
        grid-template-columns: repeat(2,50%);
    }

    .game-name p {
        font-size: 12px;
    }

}

@media(max-width:320px) {
}