.container {
    margin: 2%;
}

.container h1 {
    text-align: center;
    margin-block-end: 4%;
    margin-top: 1%;
}


#scrollmenu {   
    display: flex;   
    overflow-x: auto;
}

#scrollmenu img, #scrollmenu iframe {    
    margin-right: 15px;
}

#scrollmenu::-webkit-scrollbar {    
    display: none;
}

#div-scroll {   
    display: flex;   
    align-items: center;   
    height: auto;
}

.game {
    width:30%;
    height:auto;
}


.game:hover {
    cursor: pointer;
}



@media(max-width:1200px) {}

@media(max-width:1080px) {}

@media(max-width:992px) {

}

@media(max-width:768px) {

}

@media(max-width:576px) {
    .container h1 {
        font-size: 25px;
    }

    .container h3 {
        font-size: 18px;
    }

    .container h4 {
        font-size: 15px;
    }
}

@media(max-width:320px) {
}