body {
    color: white;
    font-family: 'Roboto', sans-serif;
    background-color: #363C41;
}


header nav {
    background-color: #1F2326;
    height: auto;
    width: 100%;
    z-index: 1;
}

.nav_pc ul {
    height: auto;
    display: flex;
}

.nav_pc ul li{
    height: auto;
    display: inline-flex;
    align-items: center;
    position: relative;
    font-family: 'Roboto', sans-serif;
    font-size: 120%;
    color: #ffffff;
    margin-left: 2%;
    margin-top: 1%;
    margin-block-end: 1%;
}

.nav_pc ul li a{
    text-decoration: none;
    color: #ffffff;
}

header nav ul li a:hover {
    color: #8D197E;
    transition: all 0.3s linear;
}

body, ul {
    margin: 0;
    padding: 0;
    
}

.logo_reagames{
    width: 100%;
}

.logo_site{
    display: block;
    max-height: 30%;
    width: 10%;
    border-right: solid #ffffff;
    border-width: 1px;
    padding-right: 10px;
    margin-top: auto;
    margin-bottom: auto;
}

.icon {
    font-size: 130%;
}


.nav_pc ul .icon-list{
    margin-left: auto;
}

.icons {
    width: 8%;
    justify-content: space-between;
    margin-right: 2%;
    margin-top: auto;
    margin-bottom: auto;
}

.icons a {
    display:flex;
}

.icons span {
    margin: auto;
}

#logout {
    border-right: solid #ffffff;
    border-width: 1px;
    display: block;
    border-width: 1px;
    padding-right: 10px;
}

button {
    outline: none;
    cursor: pointer;
    border-width: 1px;
}

input {
    outline: none;
}

textarea {
    outline: none;
}


@media (min-width: 300px) and (max-width: 600px) {
    .icons {
        width: 20%;
    }
}

@media (min-width: 601px) and (max-width: 800px) {
    .icons {
        width: 15%;
    }
}







#searchbartop {
    height: 24px;
    margin-top: auto;
    margin-bottom: auto;
}


#searchbartop #searchbartopbtn { 
    position:absolute; 
    left: -9999px;
}


#searchbartop #searchbartopbtn + label { 
    display:inline-block; 
    cursor:pointer;
    width:24px; height:24px;
    line-height:24px;
    text-align:center;
    background:none;
}

#searchbartop #searchbartopbtn:checked + label {
    background:none;
}


#searchbartop form {
    position: absolute; 
    top:0; right:200px;
    display:none;
}



#searchbartop form > button, #searchbartop form > div {
    display:table-cell;
    height:24px;
}


#searchbartop #searchbartopbtn:checked ~ form {
    display:table;
}


#searchbartop form > div > input {
    width:0;
}


#searchbartop #searchbartopbtn:checked ~ form > div > input {
    animation: expand 0.5s ease-in-out 1;
    animation-fill-mode: forwards;
}

@keyframes expand {
    from { 
        width:0;
    }
    to   {
        width:200px;
    }
}
  

#searchbartop input {
    width: 18%;
    border-color: black;
    border-radius: 6px;
    font-size: 14px;
    padding: 3px;
}


#searchbartop input {
    outline: none;
}

#searchbartop input:hover {
    border-color: #8D197E;
    border-style: solid;
}

#searchbartop input:focus {
    border-color: #8D197E;
    border-style: solid;
}


#searchbartop button {
    border-color: white;
    color: white;
    background-color: #8D197E;
    border-radius: 6px;
    border-width: 1px;
    display: block;
    margin: auto;
}

#searchbartop  ::-webkit-input-placeholder {
    font-style: italic;
}


#searchbartop  :-moz-placeholder {
    font-style: italic;  
}


#searchbartop  ::-moz-placeholder {
    font-style: italic;  
}


#searchbartop  :-ms-input-placeholder {  
    font-style: italic; 
}

.header-nav-burger {
    width: 30px;
    height: 2px;
    background: white;
    position: relative;
    transition: 0.3s; 
}

.header-nav-burger.is-animate {
    transition: 0.3s;
    background-color: #1F2326; 
}

.header-nav-burger.is-animate:before {
    transform: rotate(45deg);
    bottom: 0; 
}

.header-nav-burger.is-animate:after {
    transform: rotate(-45deg);
    top: 0;
}

.header-nav-burger:before {
    content: "";
    position: absolute;
    bottom: 10px;
    background: white;
    width: 30px;
    height: 2px; 
}

.header-nav-burger:after {
    content: "";
    position: absolute;
    top: 10px;
    background: white;
    width: 30px;
    height: 2px;
}
  
.header__nav__wrapper {
    display: none;
}

.nav--responsive {
    position: fixed;
    top: 0;
    left: -80%;
    width: 70%;
    background: #363C41;
    z-index: 99999;
    box-shadow: 3px 3px 5px #384136;
    height: 100%;
    transition: 0.3s;
}
.nav--responsive.is-open {
    left: 0;
    transition: 0.3s;
}
  
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: #8e8a8a8a;
    display: none;
    opacity: 0;
    z-index: -1;
    transition: 0.3s;
}
.overlay.is-open {
    opacity: 1;
    transition: 0.3s;
    z-index: 9999;
}

.overflow {
    overflow: hidden;
}

.nav--responsive ul{
    text-align: center;
}

.nav--responsive ul li{
    margin-top: 10%;
}

.nav--responsive ul li a{
    color: white;
    font-size: 170%;
}

@media(max-width:768px) {
    .header__nav__wrapper {
        display: flex;
        align-items: center;
        margin-right: 5%;
    }

    .logo_reagames{
        width: 50%;
    }

    .logo_site{
        text-align: center;
        width: 100%;
        border-right: none;
    }

    .nav_pc ul li{
        display: none;
    }
}