body {
    color: white;
    font-family: 'Roboto', sans-serif;
    background-color: #363C41;
    margin: 0;
}

nav {
    display: none;
}

.panel {
    position: fixed;
    height: 100vh;
    width: 16%;
    background-color: #8D197E;
    border-right-style: solid;
    border-width: 1px;
    overflow: hidden;
    top: 0;
}

.top {
    text-align: center;
    margin: 5%;
    border-bottom-style: solid;
    border-width: 1px;
}

.top h2 {
    margin-top: 8%;
    margin-block-end: 8%;
}

.tab a {
    display: inline-flex;
    width: 90%;
    text-align: center;
    margin-left: 18%;
    margin-block-end: 25%;
    text-decoration: none;
    color: white;
}

.tab h3 {
    margin: 0;
    margin-left: 10%;
}

.tab-home a {
    position: fixed;
    bottom: 0;
    display: inline-flex;
    width: 10%;
    text-align: center;
    margin-left: 3%;
    margin-block-end: 1%;
    text-decoration: none;
    color: white;
}

.tab-home h3 {
    margin: 0;
    margin-left: 10%;
    margin-top: 2%;
}
