.container {
    margin: 2%;
}

.container h1 {
    text-align: center;
    margin-block-end: 4%;
    margin-top: 1%;
}

.user-info {
    display: grid;
    grid-template-columns: 40% 60%;
    margin-block-end: 6%;
}

.user-info .img {
    display: block;
    margin: auto;
    width: 35%;  
}

.avatar-img {
    clip-path:ellipse(50% 50%);
    object-fit: cover;
    width: 250px;
    height: 250px;
}

.info {
    font-size: 20px;
    margin-left: 30%;
}

.info p {
    margin-block-end: 4%;
}

.buttons {
    display: inline-flex;
    margin: auto;
    text-align: center;
    justify-content: space-between;
    width: 50%;
    margin-left: 25%;
    margin-right: 25%;
}

.buttons button {
    border-color: white;
    color: white;
    background-color: #8D197E;
    border-radius: 6px;
    font-size: 20px;
    padding: 5px;
    width: 45%;
    margin-top: 2%;
}

button {
    outline: none;
    cursor: pointer;
}

.button {
    border-color: white;
    color: white;
    background-color: #8D197E;
    border-radius: 6px;
    font-size: 20px;
    padding: 5px;
    width: 12%;
    margin-top: 2%;
    display: block;
    margin: auto;
}

.validate{
    background-color: #363C41;
    border: none;
    box-shadow: none;
}


input[type=text] {
    width: 25%;
    border-color: black;
    border-radius: 6px;
    /* font-size: 16px; */
    padding: 6px;
    margin-block-end: 1%;
    outline: none;
}

input[type=email] {
    width: 30%;
    border-color: black;
    border-radius: 6px;
    /* font-size: 16px; */
    padding: 6px;
    margin-block-end: 1%;
    outline: none;
}

input[type=text]:hover, input[type=email]:hover {
    border-color: #8D197E;
    border-style: solid;
}

input[type=text]:focus, input[type=email]:focus {
    border-color: #8D197E;
    border-style: solid;
}