.container {
    margin: 2%;
}

.container h1 {
    text-align: center;
    margin-block-end: 4%;
    margin-top: 1%;
}

.user-info {
    display: grid;
    grid-template-columns: 40% 60%;
    margin-block-end: 6%;
}

.user-info img {
    display: block;
    margin: auto;
    width: 35%;
}

.info {
    font-size: 20px;
    margin-left: 30%;
}

.info p {
    margin-block-end: 4%;
}

.buttons {
    display: inline-flex;
    margin: auto;
    text-align: center;
    justify-content: space-between;
    width: 40%;
    margin-left: 30%;
    margin-right: 30%;
}

.buttons button {
    border-color: white;
    color: white;
    background-color: #8D197E;
    border-radius: 6px;
    font-size: 20px;
    padding: 5px;
    width: 40%;
    margin-top: 2%;
}

button {
    outline: none;
    cursor: pointer;
}




.edit-info {
    display: grid;
    grid-template-columns: 40% 60%;
    margin-block-end: 2%;
    height: 50vh;
}

.edit-img {
    display: block;
    width: 100%;
    margin: auto;
    text-align: center;
}

.edit-img img {
    width: 35%;
}


.edit-password {
    display: block;
    margin: auto;
    width: 100%;
    text-align: center;
}

.button {
    border-color: white;
    color: white;
    background-color: #8D197E;
    border-radius: 6px;
    font-size: 20px;
    padding: 5px;
    width: 12%;
    margin-top: 2%;
    display: block;
    margin: auto;
}

#cancel {
    outline: none;
    cursor: pointer;
}

input[type=password] {
    width: 40%;
    border-color: black;
    border-radius: 6px;
    font-size: 16px;
    padding: 6px;
    margin-block-end: 1%;
    outline: none;
}

input[type=password]:hover {
    border-color: #8D197E;
    border-style: solid;
}

input[type=password]:focus {
    border-color: #8D197E;
    border-style: solid;
}
