.content form {
    text-align: center;
}

.grid {
    display: grid;
    grid-template-columns: 50% 50%;
    margin-top: 5%;
}


.second-part {
    align-self: center;
    justify-self: center;
}


.input-large {
    width: 65%;
    border-color: black;
    border-radius: 6px;
    font-size: 16px;
    padding: 10px;
    margin-block-end: 4%;
}

input {
    outline: none;
}

input[type=text]:hover, input[type=number]:hover {
    border-color: #8D197E;
    border-style: solid;
}

input[type=text]:focus, input[type=number]:focus {
    border-color: #8D197E;
    border-style: solid;
}

input[type=date] {
    padding: 7.3px;
}

.button {
    border-color: white;
    border-width: 1px;
    color: white;
    background-color: #8D197E;
    border-radius: 6px;
    font-size: 20px;
    padding: 5px;
    width: 30%;
}


.change {
    margin-block-end: 10%;
}

#game_img1 div, #game_img2 div {
    margin-block-end: 8%;
}


textarea {
    width: 65%;
    border-color: black;
    border-radius: 6px;
    font-size: 16px;
    padding: 10px;
    resize: none;
    margin-block-end: 4%;
    outline: none;
}

textarea:focus {
    border-color: #8D197E;
    border-style: solid;
}

textarea:hover {
    border-color: #8D197E;
    border-style: solid;
}