{% extends 'base.html.twig' %}

{% block title %}ReaGames - contact{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href="">
{% endblock %}

{% block body %}

{{ form(contactForm) }}

{% for message in app.flashes('message') %}
    <div class="alert">
        {{ message }}
    </div>
{% endfor %}

{% endblock %}