{% extends 'base.html.twig' %}

{% block title %}ReaGames - Login{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('/css/login.css') }}">
{% endblock %}

{% block body %}

    <div class="container">
        <h1>Connexion</h1>
        {% for message in app.flashes('errors') %}
            <div class="alert">
                <strong>Warning!</strong> {{ message }}
            </div>
        {% endfor %}
        <form action="{{ path('login_check') }}" method="post">
            <label for="">Adresse mail</label><br>
            <input type="email" name="_username" class="input-large" value="{{ lastUsername }}"><br><br>
            <label for="">Mot de passe</label><br>
            <input type="password" name="_password" class="input-large"><br>
            <button type="submit" name="submit" class="button" value="connexion">Se connecter</button>
        </form>
        <a href=""><p>Mot de passe oublié ?</p></a>
        <div class="register">
            <h5>Nouveau sur ReaGames ?</h5>
        </div>
        <button class="button-register">Créer votre compte ReaGames</button>
    </div>

{% endblock %}