{% extends 'base.html.twig' %}
{% block title %}ReaGames - Profil{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('/css/passwordModify.css') }}">
{% endblock %}

{% block body %}

<form method="POST">
    <div id="edit-profile">
        <div class="edit-info">
            <h2>Modifier le mot de passe</h2>
            <div class="edit-password">
                <input type="password" name="old_password" placeholder="Ancien mot de passe" required><br>
                <input type="password" name="new_password" placeholder="Nouveau mot de passe" required><br>
                <input type="password" name="new_password_confirm" placeholder="Confirmer le mot de passe" required><br>
            </div> 
            {% for message in app.flashes('errors') %}
                <div class="alert">
                    <strong>Attention!</strong> {{ message }}
                </div>
            {% endfor %}  
        </div>
        <div class="buttons"> 
            <button id="cancel" type="button" onclick="window.location.href = '/profile';">Annuler</button>      
            <button type="submit" name="submit">Enregistrer</button>
        </div>
    </div>
</form>

{% endblock %}