{% extends 'base.html.twig' %}

{% block title %}ReaGames - Profil{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('/css/profile.css') }}">
{% endblock %}

{% block body %}

    <div class="container">
        <h1>Profil</h1>
        
    </div>


{% endblock %}
