{% extends 'base.html.twig' %}

{% block title %}ReaGames - Récupération mot de passe{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('/css/resetPassword.css') }}">
{% endblock %}

{% block body %}

    <div class="container">
        <h1>Réinitialisation du mot de passe</h1>

        {% for message in app.flashes('errors') %}
            <div style="text-align: center;">
                {{ message }} <br>
            </div>
        {% endfor %}

        {% for message in app.flashes('message') %}
            <div style="text-align: center;">
                {{ message }} <br>
            </div>
        {% endfor %}

        <form method="POST">
            <label>Entrez votre adresse mail, un code de réinitialisation vous sera envoyé:</label><br>
            <input type="email" name="email" placeholder="Adresse mail" required>
            <button type="submit" name="submitEmail" class="button-send" id="send">Envoyer</button>
        </form>
        <br>
        <form method="POST" id="post-code">
            <input type="text" name="code" placeholder="Code" required>
            <button type="submit" name="submitCode" class="button-send">Envoyer</button>
        </form>
        <br>
        {% for message in app.flashes('success') %}
            <div style="text-align: center;">
                {{ message }}
                <form method="POST">
                    <input type="password" name="new_password" placeholder="Nouveau mot de passe" required><br>
                    <input type="password" name="new_password_confirm" placeholder="Confirmer le mot de passe" required><br>
                    <button type="submit" name="submitPassword" class="button-send">Envoyer</button>
                </form>
            </div>
        {% endfor %}
    </div>


{% endblock %}