{% extends 'base.html.twig' %}

{% block title %}ReaGames - Récupération mot de passe{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href="">
{% endblock %}

{% block body %}

    <h1>Réinitialisation du mot de passe</h1>

    {% for message in app.flashes('errors') %}
        <div style="text-align: center;">
            {{ message }} <br>
        </div>
    {% endfor %}

    {% for message in app.flashes('message') %}
        <div style="text-align: center;">
            {{ message }} <br>
        </div>
    {% endfor %}

    <form method="POST">
        <label>Rentrer votre adresse email, un code de réinitialisation vous sera envoyer:</label>
        <input type="email" name="email" required>
        <button type="submit" name="submitEmail">Envoyer</button>
    </form>
    <br>
    <br>
    <br>
    <br>
    <br>
    <form method="POST">
        <input type="text" name="code" required>
        <button type="submit" name="submitCode">Envoyer</button>
    </form>

    {% for message in app.flashes('success') %}
        <div style="text-align: center;">
            {{ message }}
            <form method="POST">
                <input type="password" name="new_password" placeholder="Nouveau mot de passe" required><br>
                <input type="password" name="new_password_confirm" placeholder="Confirmer le mot de passe" required><br>
                <button type="submit" name="submitPassword">Envoyer</button>
            </form>
        </div>
    {% endfor %}


{% endblock %}