<h1>Confirmation d'achat</h1>
<p>Nom: {{ user.lastname }}</p>
<p>Prénom: {{ user.firstname }}</p>
<p>Pseudo: {{ user.username }}</p>
<p> Votre achat a bel et bien été effectué avec succès.</p>
<p>Retrouvez en pièce jointe votre facture.</p>